/* Layout für Index-Seite */

.dbaf-layout-group {
    clear: both;
}

.dbaf-layout-item {
    width: 23%;
    margin-right: 2%;
    border: 3px solid white;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}

.dbaf-layout-group .dbaf-layout-item:last-child {
    margin-right: 0px;
}


.dbaf-layout-inner-container{
    text-align: center;
}

.dbaf-layout-inner-container h4,
.dbaf-layout-inner-container p,
.dbaf-layout-inner-container h4:visited,
.dbaf-layout-inner-container p:visited
{
    text-decoration: none;
    text-align: center;
    text-decoration: none;

    color: white;
}

.dbaf-layout-inner-container h4:hover,
.dbaf-layout-inner-container p:hover
{
    text-decoration: none;
    text-align: center;

    text-decoration: none;
}


.dbaf-layout-inner-container h4:hover{
    transform: scale(125%);
}


/* API-Status */


.dbaf-api-status{
    text-decoration: none;
}