.dbaf-toolbar {
    border-bottom: 1px solid #FFF;
    padding: 20px;
}

.dbaf-toolbar a {
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
}

.dbaf-toolbar div {
    margin: 0 10px 10px 0;
}

.dbaf-toolbar-label-main a {
    font-size: 30px;
    font-weight: bold;
}

.dbaf-group-main {
    margin: 20px;
}

.dbaf-grid {
    height: 600px;
}

#results {
    display: none;
}

.dbaf-text-bold {
    font-weight: bold;
}

.dbaf-text-italic {
    font-style: italic;
}

#map {
    width: 100%;
}