@import url(layout.css);

noscript {
    display: block;
    color: #CC0000;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    text-align: center;
}

body {
    background-color: #2a2a2a; /* vorgegeben durch DevExtreme */
}

/* .dx-viewport {
    display: none;
} */

.dbaf-toolbar {
    border-bottom: 1px solid #FFF;
    padding: 20px;
    display: none; /* wird mit JavaScript aktiviert */
}

.dbaf-toolbar a {
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
}

.dbaf-toolbar div {
    margin: 0 10px 10px 0;
}

.dbaf-toolbar-label-main a {
    font-size: 30px;
    font-weight: bold;
}

.dbaf-group-main {
    margin: 20px;
    display: none; /* wird mit JavaScript aktiviert */
}

.dbaf-group {
    margin-bottom: 30px;
}

.dbaf-grid {
    height: 600px;
}

#results {
    display: none;
}

.dbaf-text-bold {
    font-weight: bold;
}

.dbaf-text-italic {
    font-style: italic;
}

#map {
    width: 100%;
    clear: both;
}

.dbaf-drop-down {
    margin-bottom: 20px;
    float: right;
}

.dbaf-green {
    color: #00CC00;
}

.dbaf-red {
    color: #CC0000;
}