.dbaf-dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dbaf-err-dot {
    background-color: #f1603f;
}

.dbaf-suc-dot {
    background-color: #6ee465;
}

.dbaf-pill-icon {
    color: #000;
}

.btn-dbaf {
    border: 1px solid #D0572E;
    background-color: #D0572E;
    color: #fff;
}

.btn-dbaf:hover {
    background-color: #fff;
    color: #D0572E;
    accent-color: #D0572E;
    border-color: #D0572E;
}

.btn-dbaf:active {
    background-color: #fff;
    color: #D0572E;
    accent-color: #D0572E;
}

.dbaf-form{
    border-left: #D0572E 4px solid;
    border-radius: 2px;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.dbaf-input:active, .dbaf-check {
    accent-color: #D0572E !important;
}

.dbaf-form-elm{
    margin-left: 1rem;
}

.form-group button{
    margin-top: 5px;
}